.TagFilter {
  display: flex;
  justify-content: center;
}

.TagFilter-wrapper {
  max-width: 1060px;
  width: 87.72%;
  height: 133px;
  margin-bottom: 15px;
}



/*----- TagFilterSlider-btn -------*/


.TagFilter-btn_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TagFilter-btn_wrapper>div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.TagFilter-btn_wrapper button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  padding: 10px 10px;

  cursor: pointer;
}

.TagFilter-btn_wrapper>div:first-child button:hover {
  background-color: rgb(245, 245, 248);
}

.TagFilter-btn_wrapper button>div {
  margin-right: 7px;
}

.TagFilter-btn_wrapper button>div:nth-child(1) {
  margin-right: 7px;
}

.TagFilter-btn_wrapper button>div:nth-child(2) {
  color: #36f;
  font-weight: 600;
}







/*------------ TagFilterSlider-hr -----------------*/

.TagFilter hr {
  width: 100%;
  margin: 25px 0;
  border: 1px solid rgb(225, 225, 225);
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}






/*------------ TagFilterSlider-slider -----------------*/

.TagFilter-slider_wrapper {
  position: relative;
}

.TagFilter-slider_wrapper .scroll_container {
  display: flex;
  gap: 8px;

  overflow-x: scroll;

  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
}

.TagFilter-slider_wrapper .scroll_container::-webkit-scrollbar {
  width: 0;
}

.TagFilter-slider_wrapper .scroll_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 80px;
  height: 32px;
  background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #ffffff 50%);
}

.TagFilter-slider_wrapper .scroll_container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 80px;
  height: 32px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #ffffff 50%);
}

.TagFilter-slider_wrapper .scroll_prev_btn {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  cursor: pointer;
}

.TagFilter-slider_wrapper .scroll_prev_btn svg {
  width: 1em;
  height: 1em;
  color: #333;
}


.TagFilter-slider_wrapper .scroll_nxt_btn {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  cursor: pointer;
}


.TagFilter-slider_wrapper .scroll_nxt_btn svg {
  width: 1em;
  height: 1em;
  color: #333;
}




@media(max-width:760px) {

  /*----- TagFilterSlider-btn -------*/
  .TagFilter-btn_wrapper>div:last-child {
    display: none;
  }

  
/*------------ TagFilterSlider-hr -----------------*/
  .TagFilter hr {
    border: 0;
  }

  /*------------ TagFilterSlider-slider -----------------*/

  .TagFilter-slider_wrapper .scroll_container::-webkit-scrollbar-thumb {
    background: #c1c1c1;  
  } 
}