
/************** section7 *****************/

.Section7
{
    height: 278px;
    background-color: #f7f7f7;
}

.Section7 > div > div:first-child
{
    width: 515.17px;
    height: 137.85px;
}

.Section7 > div > div:first-child div
{
    font-size: 30px;
    font-weight: 700;
    color: black;
    height: 42.85px;
}

.Section7 > div > div:first-child p
{
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    line-height: 1.4;
    letter-spacing: -1px;
}

.Section7 > div > div:first-child a span
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #36f;;
    color: white;

    width: 206px;
    height: 50px;
    
    margin-top: 25px;
    padding: 0 30px;
    border-radius: 50px;
}

.Section7 > div > div:last-child
{
    display: flex;
    justify-content: center;

    width: 544.83px;
    height: 158px;
    overflow: hidden;
}

.Section7 > div > div:last-child > img
{
    object-fit: cover;
}
