.animate_spinner
{
    visibility : visible;

    position: absolute;
    top: 46%;
    left: 46%;

    width: 50%;
    height: 50%;
    max-width: 60px;
    max-height: 60px;
    

    border: 20px dotted rgb(0, 98, 255);
    border-radius: 50%;

    z-index: 3000;
    background-color: none;

    animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin
{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}