


/*-------------- category ---------------*/


.RecruiteList-category {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.RecruiteList-category .category_wrapper {
  display: flex;
  flex-direction: row;

  max-width: 1060px;
  width: 87.72%;

  margin-top: 70px;
  padding: 20px 0;
  height: 40px;
}


.RecruiteList-category .category_wrapper>div {
  font-size: 24px;
  line-height: 29px;
  
  color: rgb(225, 225, 225);
}

.RecruiteList-category .category_wrapper>div:nth-child(2) {
  padding: 0 20px;
  font-weight: 400;
}

.RecruiteList-category_first_btn {
  background-color: white;
  border: 0px;

  font-size: 22px;
  font-weight: 700;
}

.RecruiteList-category_second_btn {
  background-color: white;
  border: 0px;

  font-size: 22px;
  font-weight: normal;
}

.RecruiteList-category span {
  vertical-align: middle;
} 

.RecruiteList-category span:first-child {
  margin-right: 20px;
}

.RecruiteList-category span:last-child {
  display: inline-block;
  width: 22px;
  height: 22px;
  
  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
}

.RecruiteList-category span:last-child:hover {
  border-color: rgb(51, 51, 51);
}

.RecruiteList-category svg {
  margin-bottom: 5px;
}








/*------------ main common --------------*/

.RecruiteList main {  
  border-top: 1px solid rgb(225, 225, 225);
  padding-top: 30px;
}

.RecruteList-main_wrapper {
  margin: 0 auto;
  max-width: 1060px;
  width: 87.72%;
}






/*---- main_title ------*/

.RecruiteList-main_title div:first-child {
  padding: 10px 0;
  color: #36f;
}

.RecruiteList-main_title div:last-child {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: black;
}











/*---- flex-container ------*/

.RecruiteList-flex_link {
  display: flex;
  flex-direction: row;

  max-width: 1060px;
  width: 87.72%;

  padding-bottom: 20px;
}

.RecruiteList-flex_link a {
  box-sizing: border-box;
  position: relative;
  left: 0;

  margin-right: 16px;
  display: block;

  height: 271px;
  width: 21.5%;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
}



.RecruiteList-flex_link .flex_img_wrapper {
  display: flex;
  justify-content: center;


  height: 55%;
  overflow: hidden;
}

.RecruiteList-flex_link .flex_img_wrapper>img {
  object-fit: cover;
  transition: all 0.3s;
}

.RecruiteList-flex_link a:hover div.flex_img_wrapper>img {
  transition: transform 0.3s linear;
  transform: scale(1.1);
}

.RecruiteList-flex_link .logo_wrapper {
  position: absolute;
  top: 45%;
  left: 5%;

  display: flex;
  justify-content: center;

  width: 50px;
  height: 50px;
  overflow: hidden;

  background-color: white;
  border: 1px solid rgb(225, 225, 225)
}

.RecruiteList-flex_link .flex_body {
  padding: 20% 10%;
  overflow: hidden;
  line-height: 1.4;
}


.RecruiteList-flex_link .flex_body h5 {
  color: #aaa;
  font-size: 14px;
}










/*---- grid-container ------*/


.RecruiteList .grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(347px, 1fr));
  row-gap: 15px;
  column-gap: 15px;

  justify-content: center;
  align-content: start;

  margin-top: 20px;
}
