.RecruiteDetail {
  max-width: 1060px;
  width: 87.72%;

  padding-top: 70px;
  margin: 0 auto;
}






/*---- article-section ------*/
.RecruiteDetail .article_wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.RecruiteDetail .article_section {
  max-width: 700px;
}

.RecruiteDetail .img_frame {
  position: relative;
  box-sizing: border-box;
}

.RecruiteDetail .img_frame button {
  position: absolute;
  width: 9%;
  height: 100%;

  font-size: 26px;

  background-color: transparent;
  border: 0px;

  z-index: 10;
}

.RecruiteDetail .img_frame button:first-child {
  left: 0;
}

.RecruiteDetail .img_frame button:nth-child(2) {
  right: 0;
}

.RecruiteDetail .img_frame button svg {
  height: 22px;
  width: 22px;

  fill: rgb(170, 170, 170);
}

.RecruiteDetail .article_img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 700px;

  padding-bottom: 4px;

  overflow-x: scroll;
  overscroll-behavior: contain;

  scroll-snap-type: x mandatory;
}

.RecruiteDetail .article_img::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.RecruiteDetail .article_img::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.RecruiteDetail .article_img::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border-radius: 10px;
}

.img_wrapper {
  width: 100%;
  height: 490px;

  flex-shrink: 0;

  scroll-snap-align: start;
}

.img_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.RecruiteDetail .article_header {
  margin: 40px 0 30px;
}

.RecruiteDetail .article_header h2 {
  color: rgb(3, 3, 3);
  font-size: 20px;
  font-weight: 550;

  margin-bottom: 15px;
}

.RecruiteDetail .job_info {
  letter-spacing: -1px;
}

.RecruiteDetail .job_info span:first-child {
  font-size: 13px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}

.RecruiteDetail .job_info span:nth-child(2) {
  font-size: 8px;
  color: rgb(29, 79, 228);
  border: 1px solid rgb(29, 79, 228);
  border-radius: 2px;

  margin-left: 10px;
  top: -1px;
  padding: 2px 3px;
}

.RecruiteDetail .job_info span:nth-child(3) {

  font-size: 10px;
  color: rgb(204, 204, 204);
  margin: 0 8px;
}

.RecruiteDetail .job_info span:nth-child(4) {
  font-weight: 500;
  color: rgb(170, 170, 170);
  vertical-align: middle;
}

.RecruiteDetail .tags {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(33, 33, 33);
  line-height: 1.428;
}

.RecruiteDetail .tags li {
  font-size: 11px;
  display: inline-block;
  line-height: 1.428;

  background-color: #f3f5f8;

  padding: 7px 12px;
  margin-right: 6px;
  margin-bottom: 10px;

  border-radius: 30px;
}

.RecruiteDetail .article_explain {
  margin: 40px 0;
  margin-bottom: 60px;
  padding-right: 20px;

  color: rgb(3, 3, 3);
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 400;
  line-height: 1.75;
}

.RecruiteDetail .skillset_title {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 600;

  margin-top: 10px;
}

.RecruiteDetail .skillset_container {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;

  display: flex;
  gap: 10px 8px;
  margin-top: 5px;
}

.RecruiteDetail .skill_item {
  background-color: #e4f4ec;
  border-radius: 20px;
  padding: 9px 14px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 600;
}






/*---- aside-section ------*/

.RecruiteDetail .aside_section {
  box-sizing: border-box;
  width: 340px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  padding: 24px 20px;

  position: sticky;
  top: 70px;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 3px;

  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

.RecruiteDetail .aside_section .bonus_wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
}

.RecruiteDetail .aside_section .bonus_wrapper {
  position: relative;

  margin: 24px 0;
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.RecruiteDetail .aside_section .bonus_wrapper div {
  width: 50%;
}

.RecruiteDetail .aside_section .bonus_wrapper h4 {
  font-size: 13px;
  font-weight: 600;
  color: #999;
  margin-bottom: 8px;
  line-height: 1.2;
}

.RecruiteDetail .aside_section .bonus_wrapper button {
  position: absolute;
  top: -50px;
  right: 0px;

  width: 40px;
  height: 40px;

  background: #fff;

  border-radius: 20px;
  border: 1px solid #e1e2e3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.RecruiteDetail .bookmark_btn {
  margin-bottom: 10px;
}

.RecruiteDetail .bookmark_btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #36f;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #36f;
  text-align: center;
}

.RecruiteDetail .bookmark_btn span {
  padding-left: 10px;
}

.RecruiteDetail .apply_btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  border-radius: 25px;
  background-color: #36f;
  border: 1px solid white;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  color: white;
  text-align: center;
}

.RecruiteDetail .reaction {
  margin-top: 24px;
}

.RecruiteDetail .likey-btn {
  font-size: 15px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e1e2e3;
  margin-right: 12px;
  padding: 0 15px;
}

.RecruiteDetail .icon-likey:before {
  content: "♥";
}





/*---- grid-section ------*/

.RecruiteDetail .grid_title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.RecruiteDetail .grid_container {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 343.7px);
  row-gap: 50px;
  column-gap: 20px;

  margin-top: 20px;
}