/* navigation bar , header */

.NavigationBar {
  position: fixed;
  background-color: white;
  
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid rgb(225, 225, 225);
  z-index: 100;
}

.NavigationBar nav {
  width: 1060px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.NavigationBar nav>div {
  /*background-color: yellow;*/
  display: flex;
  align-items: center;
  
}

.NavigationBar .nav_left>* {
  display: flex;
  height: 20.8px;
  border: 0px;
}

.NavigationBar_menu_btn {
  margin-right: 15px;
  margin-top: 5px;
}

.NavigationBar_menu_btn img {
  width: 17px;
  height: 14px;
}

.NavigationBar_home_link {
  position: relative;
  overflow: hidden;
  width: 74.38px;
}

.NavigationBar_home_link img {
  position: absolute;
  top: -50%;
  left: -55%;

  height: 200%;
  width: 150%;
}

.NavigationBar .nav_center {
  justify-content: space-between;
  width: 532.5px;
}

.NavigationBar .nav_center div {
  position: relative;
}

.NavigationBar .nav_center em {
  position: absolute;
  top: -5px;
  font-size: 7px;
  font-weight: 400;
  color: rgb(20, 153, 210)
}

.NavigationBar .nav_right {
  width: 275.74px;
  justify-content: right;
}

.NavigationBar .serach_btn {
  color: rgb(225, 225, 225);
}



.NavigationBar .login_btn {
  color: rgb(225, 225, 225);
}

.NavigationBar .employer_bar {
  color: rgb(225, 225, 225);
  margin: 0 15px;
  font-size: 10px;
  font-weight: 100;
}

.NavigationBar .employer_link {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 27px;

  height: 27px;

  padding: 0 10px;

  border: 1px solid rgb(225, 225, 225);
  border-radius: 15px;
  color: #666;
}



@media(max-width:970px) {
  .NavigationBar {
    width: 100%;
    height: 110px;
  }

  .NavigationBar nav {
    width: 90%;
    height: 100%;
    
    flex-direction: column;
    justify-content: space-around;
  }


  .NavigationBar .nav_right {
    position: absolute;
    top: 1rem;
    right: 5%;
  }

  .NavigationBar .employer_bar {
    display: none;
  }

  .NavigationBar .employer_link {
    display: none;
  }
}

@media(max-width:760px) {
  .NavigationBar .nav_center {
    width: 11rem;
    overflow: hidden;
    gap: 10px;
  }
  .NavigationBar .nav_center div {
    min-width: fit-content;
  }
}